<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


    <!-- Load the URDF model into Gazebo -->
  <param name="robot_description" textfile="$(find skid_steer_robot)/urdf/skid_robot.urdf.xacro"/>

  <!-- Send robot states to tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
      <param name="publish_frequency" value="30"/>
  </node>

  <!-- Send  joint values-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
      <param name="rate" value="30"/>
      <param name="use_gui" value="true"/>
  </node>

  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.0"/>



  <node pkg="tf" type="static_transform_publisher" name="odom_initial_position" args="0.0 0.0 0.0 0 0 0.0 map odom 30" />

  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0.0 0.0 0.0 0 0 0.0 base_footprint base_link 30" />
  <node name="tf_dynamic_node" pkg="skid_steer_robot" type="tf_dynamic_odom_baselink.py" output="screen"></node>

  <!-- Spawn My Robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -param robot_description -model skid_robot -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find skid_steer_robot)/frames_test_config.rviz"/>
</launch>