<launch>
    <include file="$(find skid_steer_robot)/launch/robot_description.launch"/>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_filter" output="screen">
        <param name="use_sim_time" value="false" />
        <param name="publish_tf" value="false" />
        <rosparam command="load" file="$(find localization)/scripts/ekf.yaml" />
    </node>

    <include file="$(find localization)/launch/amcl_demo.launch"/>

</launch>
